.progress{
	background-color: lightgrey;
	border-radius: 5px;
	cursor: pointer;
}
.progress-bar{
	background-color: green;
	cursor: pointer;
}
.label_progress{
	font-weight: bold;
}
.Improcedente{
	color: red;
}
.Procedente{
	color: darkgreen;
}
#lupa{ 
	margin-top: 5px;
	cursor: pointer;
	width: 30px;
	height: 30px;
}
#lupa:hover{
	width: 35px;
	height: 35px; 
}